src/main/mule/battlesnake-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:os="http://www.mulesoft.org/schema/mule/os" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd 
http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd">
    <http:listener-config name="battlesnake-api-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="8081" />
    </http:listener-config>
    <apikit:config name="battlesnake-api-config" api="resource::74b98629-54d5-43f4-a349-54ab11eb7d24:battlesnake-api:1.0.0:raml:zip:battlesnake-api.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <configuration-properties doc:name="Configuration properties" doc:id="3828176e-9ddb-46aa-a8cf-e6b42e24bf3d" file="application.yaml" />
	<os:object-store name="episodesObjectStore" doc:name="Object store" doc:id="35acafd4-fa41-406a-ada5-75ea9c395b04" entryTtl="10" entryTtlUnit="DAYS" />
	<flow name="battlesnake-api-main">
        <http:listener config-ref="battlesnake-api-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="battlesnake-api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="get:\:battlesnake-api-config">
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  apiversion: "${battlesnake.config.apiversion}",
  author: "${battlesnake.config.author}",
  color: "${battlesnake.config.color}",
  head: "${battlesnake.config.head}",
  tail: "${battlesnake.config.tail}",
  version: "${battlesnake.config.version}",
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\start:application\json:battlesnake-api-config">
        <logger level="INFO" message="#['Start Game $(payload.game.id)']" category="battlesnake" doc:name="INFO"/>
		<logger level="DEBUG" doc:name="DEBUG" doc:id="b320da4e-842c-40a6-b021-db4e0247a345" message="#[payload]" category="battlesnake"/>
		<os:retrieve doc:name="nnState" doc:id="ca68eced-51b0-4657-9901-ca07419a1a14" key="nnState" target="nnState">
			<os:default-value ><![CDATA[#[output application/json
var inputLayer = (1 to p("neuralNet.input") as Number)
var layer1 = (1 to p("neuralNet.layer1") as Number) as Array map {node: $, weights: inputLayer map (random() * 2 - 1)}
var layer2 = (1 to p("neuralNet.layer2") as Number) as Array map {node: $, weights: layer1 map (random() * 2 - 1)}
---
{
	layer1: layer1,
	layer2: layer2,
	actions: (0 to 2) as Array map {node: $, weights: layer2 map (random() * 2 - 1)}
}]]]></os:default-value>
		</os:retrieve>
		<os:store doc:name="nnState" doc:id="53fcabed-2eaa-43d8-b7f3-3ca4d35146aa" key="nnState">
			<os:value><![CDATA[#[vars.nnState]]]></os:value>
		</os:store>
		<ee:transform doc:name="begin episode" doc:id="031fb761-4aab-4192-b40f-79eeaaf95e82" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
import observe from dw::Strategy
---
{
	episode: payload.game,
	observation: observe(payload.you, payload.board)
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<os:store doc:name="init episode" doc:id="b70af828-dbd4-4d34-ad18-9e4576088944" key="#[payload.episode.id]" failIfPresent="true" objectStore="episodesObjectStore"/>
    </flow>
    <flow name="post:\move:application\json:battlesnake-api-config">
        <logger level="INFO" message="#['Move Game $(payload.game.id)']" />
		<logger level="INFO" doc:name="Logger" doc:id="1423365b-9bc2-4e2e-9f28-a85fa84de445" message="#[payload]"/>
		<os:retrieve doc:name="nnState" doc:id="d5c9acd6-9688-4722-bb81-b26825452e9d" key="nnState" target="nnState"/>
		<ee:transform doc:name="Move" doc:id="54a59f57-b3b2-49c9-9df1-ea5de079e976" >
			<ee:message >
				<ee:set-payload resource="dw/move-snake.dwl" />
			</ee:message>
		</ee:transform>
    </flow>
    <flow name="post:\end:application\json:battlesnake-api-config">
        <logger level="INFO" message="#['End Game $(payload.game.id)']" />
		<logger level="INFO" doc:name="Logger" doc:id="e9f0dd37-688a-4c17-9213-f7139eef0e9b" message="#[payload]"/>
		<os:retrieve doc:name="nnState" doc:id="99fb1838-6ae6-410a-88d9-498b7788d0fc" key="nnState" target="nnState">
			<os:default-value ><![CDATA[#[{}]]]></os:default-value>
		</os:retrieve>
		<ee:transform doc:name="end episode and learn" doc:id="0d6d14e7-1603-43f9-8521-c28a3150692d" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
{
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<os:store doc:name="nnState" doc:id="cd69d0f4-1652-4c01-91c2-0f159adee40d" key="nnState">
			<os:value ><![CDATA[#[{}]]]></os:value>
		</os:store>
    </flow>


</mule>
